form{
    display: inline-block;
    border : 1px solid black;
    padding : 100px ;
    margin-left: 560px; 
    background-color: antiquewhite;
}

input[type=submit]{
    position: relative;
    left : 100px;
    background-color: rgb(68, 223, 68);
}

h1{
    color : red;
}